<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Sign Up</h2>

    <form action="/signup" method="POST">

        <input type="text" name="username" placeholder="UserName">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">

        <label for="securityQuestion1">Security Question 1:</label>
        <select id="securityQuestion1" name="securityQuestion1">
            <option value="What is your mother's maiden name?">What is your mother's maiden name?</option>
            <option value="What was the name of your first pet?">What was the name of your first pet?</option>
            <option value="What was your first car?">What was your first car?</option>
        </select>
        <input type="text" name="securityAnswer1" placeholder="Answer" required>

        <label for="securityQuestion2">Security Question 2:</label>
        <select id="securityQuestion2" name="securityQuestion2">
            <option value="What is your favorite book?">What is your favorite book?</option>
            <option value="What city were you born in?">What city were you born in?</option>
            <option value="What is your favorite food?">What is your favorite food?</option>
        </select>
        <input type="text" name="securityAnswer2" placeholder="Answer" required>

        <label for="securityQuestion3">Security Question 3:</label>
        <select id="securityQuestion3" name="securityQuestion3">
            <option value="What is your favorite color?">What is your favorite color?</option>
            <option value="What is your dream job?">What is your dream job?</option>
            <option value="What is your favorite movie?">What is your favorite movie?</option>
        </select>
        <input type="text" name="securityAnswer3" placeholder="Answer" required>

        <input type="submit">

    </form>
    
</body>
</html>